.projectHeading {
    text-align: center;
    padding: 70px 0;
    letter-spacing: 0.4px;
    font-size: 36px;
    margin-top: 20px;
}

.project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -50px 5%;
}
